.Post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.Post-img{
    border-radius: 20px ;
    
}

.Post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.Post-headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: grey;
}

.Post-headerText >  h6 {
    font-size: 15px;
    margin-bottom: 5px;
}

.Post-description {
    margin-bottom: 10px;
    font-size: 15px ;
}

.Post-body {
    flex: 1;
    padding: 10px;
}

.Post-avatar {
    padding: 20px;
}
